@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begins Container */

.container {
    display: grid;
    grid-template-columns: 0.9fr 5fr;
    grid-template-rows: 1.5fr 6fr;
    height: 100vh;
}

/* Begins Header */

.header {
  background-color: #F8F7FF;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.search-icon, 
.noti-icon {
	height: 1rem;
}

.user-img {
	height: 2.5rem;
}

.user-img-large {
	height: 4rem;
}

.header-section-1 {
	display: grid;
	grid-template-columns: 1fr 6fr 2fr 1fr 3fr;
	align-items: center;
}

.header-section-2 {
	display: grid;
	grid-template-columns: 2.5fr 5fr 2fr 10fr 
}

.search-icon {
	justify-self: end;
}

input[type="search"] {
	width: 32rem;
	border-radius: 15px;
	border: solid 3px #b8b8ff;
	margin-left: 1.5rem;
}

.noti-icon {
	justify-self: end;
}

.user-img {
	justify-self: center;
}

.user-img-large {
	justify-self: end;
	align-self: center;
	margin-right: 1rem;
}

.greeting-container {
	align-self: center;
	margin-left: 2rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.greeting-text,
.greeting-name,
.user-name {
	font-family: 'Barlow', 'sans-serif';
	font-weight: 600;
}

.user-name {
	font-size: 1.1rem;
}

.greeting-text {
	font-size: 0.9rem;
}

.greeting-name {
	font-size: 1.2rem;
}

.new-btn,
.upload-btn,
.share-btn {
	border: none;
	border-radius: 20px;
	height: 2rem;
	width: 5rem;
	background-color: #9381ff;
	color: white;
	align-self: center;
	font-family: 'Barlow', 'sans-serif';
	font-size: 1rem;
	font-weight: bold;
}

.btns-container {
	grid-column: 4;
	display: flex;
	justify-content: center;
	gap: 2.5rem;
}

/* Begins Sidebar */

.sidebar {
  background-color: #FFD8BE;
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 0.8fr 0.5fr 2.6fr 0.5fr 1.8fr 3.8fr;
}

.sidebar-logo {
	display: grid;
	grid-template-columns: 2.5fr 6fr;
	align-items: center;
}

.menu-one ul,
.menu-two ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}


.menu-one li,
.menu-two li,
.logo-text {
	font-size: 1.4rem;
	font-family: 'Barlow', sans-serif;
	font-weight: 600;
	color: white;
}

.menu-one li,
.menu-two li {
	display: grid;
	grid-template-columns: 2.5fr 6fr;
}

.menu-one {
  grid-row: 3 / span 1
}

.menu-two {
  grid-row: 5 / span 1;
}

.menu-one img,
.menu-two img {
	height: 1rem;
	justify-self: end;
	align-self: center;
	margin-right: 0.8rem;
}

.logo-image img {
	height: 2.5rem;
}

.logo-image {
	justify-self: end;
	margin-right: 0.8rem;
}






/* Begins Main */

.main-content {
  background-color: #ffeedd;
  grid-area: 2 / 2 / 3 / 3;
}
