@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap');

:root {
	--main-font: 'Barlow', 'sans-serif';
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begins Container */

.container {
    display: grid;
    grid-template-columns: 1.2fr 5fr;
    grid-template-rows: 1.5fr 6fr;
    height: 100vh;
}

/* Begins Header */

.header {
  background-color: #F7FFFC;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border-bottom: 2px solid lightgrey;
  filter: drop-shadow(0px 2px 5px #b8b8ff);
}

.search-icon, 
.noti-icon {
	height: 1.5rem;
}

.user-img {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50px;
}

.user-img-large {
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50px;
}

.header-section-1 {
	display: grid;
	grid-template-columns: 1fr 6fr 2fr 1fr 3fr;
	align-items: center;
}

.header-section-2 {
	display: grid;
	grid-template-columns: 2.5fr 5fr 2fr 10fr;
	margin-bottom: 1rem;
}

.search-icon {
	justify-self: end;
}

input[type="search"] {
	width: 32rem;
	border-radius: 15px;
	border: solid 3px #b8b8ff;
	margin-left: 1.5rem;
}

.noti-icon {
	justify-self: end;
}

.user-img {
	justify-self: center;
}

.user-img-large {
	justify-self: end;
	align-self: center;
}

.greeting-container {
	align-self: center;
	margin-left: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.greeting-text,
.greeting-name,
.user-name {
	font-family: var(--main-font);
	font-weight: 600;
}

.user-name {
	font-size: 1.1rem;
}

.greeting-text {
	font-size: 0.9rem;
}

.greeting-name {
	font-size: 1.2rem;
}

.new-btn,
.upload-btn,
.share-btn {
	border: none;
	border-radius: 20px;
	height: 2rem;
	width: 5rem;
	background-color: #9381ff;
	color: white;
	align-self: center;
	font-family: var(--main-font);
	font-size: 1rem;
	font-weight: bold;
}

.new-btn:hover,
.upload-btn:hover,
.share-btn:hover {
	border: solid 3px black;
}




.btns-container {
	grid-column: 4;
	display: flex;
	justify-content: center;
	gap: 2.5rem;
}

/* Begins Sidebar */

.sidebar {
  background-color: #8585FF;
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 0.8fr 0.5fr 2.6fr 0.5fr 1.8fr 3.8fr;
}

.sidebar-logo {
	display: grid;
	grid-template-columns: 2.5fr 6fr;
	align-items: center;
}

.menu-one ul,
.menu-two ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.menu-one li,
.menu-two li,
.logo-text {
	font-size: 1.4rem;
	font-family: var(--main-font);
	font-weight: 600;
	color: white;
}

.menu-one li,
.menu-two li {
	display: grid;
	grid-template-columns: 2.5fr 6fr;
}

.menu-one a,
.menu-two a {
	text-decoration: none;
	color: white;
}

.menu-one {
  grid-row: 3 / span 1
}

.menu-two {
  grid-row: 5 / span 1;
}

.menu-one img,
.menu-two img {
	height: 1.6rem;
	justify-self: end;
	align-self: center;
	margin-right: 0.8rem;
	filter: invert(79%) sepia(0%) saturate(4784%) hue-rotate(10deg) brightness(123%) contrast(111%);
}

.logo-image img {
	height: 2.5rem;
	filter: invert(79%) sepia(0%) saturate(4784%) hue-rotate(10deg) brightness(123%) contrast(111%)
}

.logo-image {
	justify-self: end;
	margin-right: 0.8rem;
}

/* Begins Main */

.main-content {
  background-color: #F8F7FF;
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template: 1fr 10fr / 6fr 2fr;
}

.announcements-text,
.yp-text {
	align-self: center;
	font-family: var(--main-font);
	font-weight: 600;
	font-size: 1.1rem;
}

.yp-text {
	margin-left: 2rem;
}

.primary-cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding: 0rem 2rem 2rem 2rem;
}

.card {
	height: 10rem;
	background-color: white;
	padding: 1.5rem 2rem 1.5rem 1.1rem;
	display: grid;
	border-left: solid 0.4rem #8585FF;
	border-radius: 6px;
}

.title {
	font-weight: bold;
}

.title, 
.card p,
.trending-text,
.trending-card p {
	font-family: var(--main-font);
}

.card-text-container {
display: flex;
flex-direction: column;
gap: 0.5rem;
}

.card-icons-container {
	display: flex;
	align-self: end;
	justify-self: end;
	gap: 1.5rem;
}

.card-icons-container img {
	height: 1.3rem;
}

.card-icons-container img:hover {
	background-color: pink;
}

/* Beings Secondary Cards */

.secondary-cards {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
}

.announcements-card-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 0.9fr));
}

.announcements-card {
	background-color: white;
	height: 16rem;
	border-radius: 6px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 15px;
	overflow: auto;
}

.announcements-card p {
	font-family: var(--main-font);
}

.sep {
	border: solid 1.5px grey;
	border-radius: 15px;
}





/* trending card */


.trending-section {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 0.9fr));
	grid-template-rows: 1fr 8fr;
	padding-bottom: 2rem;
}

.trending-card {
	background-color: white;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.8rem;
	padding: 2rem;
}

.trending-text {
	font-weight: 600;
	font-size: 1.1rem;
}

.trending-card > div {
	display: flex;
	gap: 0.8rem;
	align-items: center;
}

.trending-card img {
	height: 3rem;
	width: 3rem;
	border-radius: 10px;
}

div p:nth-child(1) {
	font-weight: bold;
}

div p:nth-child(2) {
	font-weight: 500;
}



